
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
<div class="contain">
    <nav>
        <div class="tabs">
            <div  routerLink="" class="home">Home</div>
            <div class="About">About</div>
            <div class="Services">Services</div>
            <div class="Contact">Contact</div>
        </div>
        <div class="options">
            <div class="signIn">Sign In</div>
            <div class="register">Register</div>
        </div>
    </nav>

    <div class="textImageForm">
        <div class="textOne">
            <div class="orange"></div>
            <div class="blue"></div>
            <h2>Sign In to Genesis</h2>
            <div class="textAccount">if you don't have an account you can <small class="lightblue">Register here!</small> </div>
        </div>
        <div class="image">
            <img src="../../assets/img/login page image.png" alt="">
        </div>
        <div class="form">
            <div class="inputs">
                 <input type="text" placeholder="Enter Email">
                <div class="password">
                    <input type="password" placeholder="..........">
                    <small>Recover password ?</small>
                </div>
            </div>
           
            
            <button>SignIn</button>
            <div class="line">
                <div class="left"></div>
                <div class="text">Or continue with</div>
                <div class="right"></div>
            </div>
            <div class="icons">
                <img src="../../assets/img/Google.svg" alt="">
                <img src="../../assets/img/Apple.svg" alt="">
                <img src="../../assets/img/Facebook2.svg" alt="">
            </div>
        </div>
    </div>
</div>
