
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
<div class="animate">
    <div class="contain">
    <nav>
        <div class="tabs">
            <div  routerLink="" class="home">Home</div>
            <div class="About">About</div>
            <div class="Services">Services</div>
            <div class="Contact">Contact</div>
        </div>
        <div class="options">
            <div class="signIn" id="signIn"(click)="animation(false)">Sign In</div>
            <div class="register" id="register" (click)="animation(true)">Register</div>
        </div>
    </nav>

    <div class="textImageForm">
        <div class="textOne">
            <div class="orange"></div>
            <div class="blue"></div>
            <h2>Sign In to Genesis</h2>
            <div class="textAccount">if you don't have an account you can <small class="lightblue">Register here!</small> </div>
        </div>
        <div class="image">
            <img src="../../assets/img/login page image.png" alt="">
        </div>
        <div class="user" id="user">
            <div class="form" id="form">
                <div class="inputs">
                     <input type="text" placeholder="Enter Email">
                    <div class="password">
                        <input type="password" placeholder="..........">
                        <small>Recover password ?</small>
                    </div>
                    <button>SignIn</button>
                </div>
                <div class="createAccount">
                    <div>
                        <div class="name">
                            <input type="text" placeholder="First Name">
                            <input type="text" placeholder="Last Name">
                        </div>
                        <div>
                            <input type="text" placeholder="johndoe@example.com">
                        </div>
                        <div>
                            <input type="password" placeholder="...........">
                        </div>
                        <Button>Create Account</Button>
                    </div>
                </div>   
            </div>
            <div class="line">
                <div class="left"></div>
                <div class="text">Or continue with</div>
                <div class="right"></div>
            </div>
            <div class="icons">
                <img src="../../assets/img/Google.svg" alt="">
                <img src="../../assets/img/Apple.svg" alt="">
                <img src="../../assets/img/Facebook2.svg" alt="">
            </div>
        </div>
    </div>
</div>

</div>
