
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap" rel="stylesheet">
<div class="page">
    <div class="contain">
        <div class="green"></div>
        <div class="red"></div>
        <div class="yellow"></div>
        <h4 style="color:white">{{data.firstName}}, {{data.lastName}}</h4>

        <div class="dashboard">

            <!-- <div class="alert">
                You don't have an account dude
            </div> -->
            <div class="left">
                <h1 class="title">Your Info</h1>

                <h1 class="title">Contacts</h1>
                <div class="contacts">
                    <div class="email">
                        <div class="emailText">Email:</div>
                        <div class="text">{{data.email}}</div> 
                    </div>
                    <div class="phone">
                        <div class="phoneText">Phone:</div>
                        <div class="number">{{data.number}}</div> 
                    </div>
                    <h1 class="title">Shortcut</h1>
                    <div class="Shortcut">
                        <div class="logout" (click)="log_out()">
                            <div class="LogText">
                                Log Out
                            </div>
                            <mat-icon>logout</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                
                <div class="counts">
                    <div class="domain">
                        <div class="number">
                            1
                        </div>
                        <div class="text">
                            Domain
                        </div>
                    </div>
                    <div class="tickets">
                        <div class="number">
                            0
                        </div>
                        <div class="text">
                            Tickets
                        </div>
                    </div>
                    <div class="invoice">
                        <div class="number">
                            0
                        </div>
                        <div class="text">
                            Invoice
                        </div>
                    </div>
                </div>
                <div class="tickets">
                    <h1>Tickets</h1>
                    <mat-icon>plus</mat-icon>
                </div>
            </div>
            
        </div>
    </div>
</div>
