<div class="contain">
    <div class="containSupport">
        <div class="text">
            <h2>Support</h2>
            <p>
                No gurus needed here! Easily setup your website on our high-speed private cloud without any previous or technical knowledge required. Manage all of your content, emails, and domains right inside of our platform. Build dynamic online stores secured by free and automatic SSL that rank higher in search engines!
            </p>
        </div>
        <div class="helpDesk">
            <div class="image">
                <img src="../../assets/img/help_desk.png" alt="">
            </div>
            <div>24/7 Support</div>
            <button> Submit a Ticket</button>
        </div>
        <div class="call">
            <div class="image">
                <img src="../../assets/img/live_chat.png" alt="">
            </div>
            <div>24/7 Support</div>
            <button> Call Now</button>
        </div>
    </div>
</div>