<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
<div class="contain">
    <div class="first">
        <div class="image">
            <img src="../../assets/img/image 6.png" alt="">
        </div>
        <div class="text">
            <h1>AnyWhere AnyTime</h1>

            No gurus needed here! Easily setup your website on our high-speed private cloud without any previous or technical knowledge required. Manage all of your content, emails, and domains right inside of our platform. Build dynamic online stores secured by free and automatic SSL that rank higher in search engines!</div>
    </div>
    <div class="second">
        <div class="image">
            <img src="../../assets/img/icon with background.png" alt="">
        </div>
        <div class="text">
            <h1>99% Up Time</h1>

            No gurus needed here! Easily setup your website on our high-speed private cloud without any previous or technical knowledge required. Manage all of your content, emails, and domains right inside of our platform. Build dynamic online stores secured by free and automatic SSL that rank higher in search engines!</div>
    </div>
    <div class="third">
        <div class="image">
            <img src="../../assets/img/image 9.png" alt="">
        </div>
        <div class="text">
            <h1>Security</h1>
            No gurus needed here! Easily setup your website on our high-speed private cloud without any previous or technical knowledge required. Manage all of your content, emails, and domains right inside of our platform. Build dynamic online stores secured by free and automatic SSL that rank higher in search engines!
        
        </div>
    </div>

</div>