<div class="top">
    <div class="icons">
        <mat-icon>notifications</mat-icon>
        <mat-icon>shopping_basket</mat-icon>
        <div class="pin">
            <div>Pin:</div>
            <div class="id" id="id">{{data.pin+10000}}</div>
        </div>
    </div>
</div>

<div class="navBar">
    <div class="user">
        <mat-icon>person_outline</mat-icon>
        <div id="user">{{data.lastName}}</div>
    </div>
    <div class="contain">
        <div class="home" routerLink="dashboard"> <mat-icon>home</mat-icon> <div>Dashboard</div></div>
        <div class="domain"> <mat-icon>language</mat-icon> <div>domains</div></div>
        <div class="billing"> <mat-icon>description</mat-icon> <div>billing</div> </div>

        <div class="help" routerLink="tickets"> <mat-icon>mail</mat-icon><div> support</div></div>
        <div class="setting"> <mat-icon>settings</mat-icon> <div>settings</div></div>
    </div>
    <div class="genesis">Genesis</div>
</div>
    <div class="subfolders">
        <h1 class="title">My dashboard</h1>
        <router-outlet></router-outlet>
    </div>
    