.top{
    border-bottom:1px solid black;
    text-align: right;
    display: flex;
    justify-content: right;
}
.icons{
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    cursor: pointer;
}
.pin{
    display: flex;
    align-items: center;

}


/* nav */
.navBar{
    background-color: #0D081C;
    width: 150px;
    color: white;
    position:fixed;
    bottom:0;
    top:0;
    z-index: 1;
}
.user{
    background-color: #241F31;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:7px;
    border-bottom:1px solid white;
}

.user mat-icon{
    font-size: 20px;
    width: fit-content;
}
.home,.domain,.billing,.help,.setting{
    padding: 1rem;
    cursor: pointer;
}

.contain mat-icon{
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    padding:1.2rem;
}
.contain div{
    text-align: center;
    display: block;
    font-size: large;
    text-transform: capitalize;
}


.genesis{
    position: fixed;
    color:white;
    font-size: x-large;
    bottom: 30px;
    left:30px;
}
.subfolders{
    width:80%;
    overflow: hidden;
    position:absolute;
    right: 0;
    z-index: 0;
}

// fixing the titles

.title{
    width: 90%;
    margin:5rem auto;
    font-size: 40px;
    font-weight:bolder
}