<div class="navBar">
    <div class="logo">Genesis</div>
    <div class="tabs">
        <div class="home">Home</div>
        <div class="abour">About</div>
        <div class="services">Services</div>
        <div class="pricing">Pricing</div>
        <div class="testimonials">Testimonials</div>
        
    </div>
    <div class="login">
        <a routerLink="login" class="deep"><div >Log In</div> <mat-icon>person_icon</mat-icon></a>                                                                
    </div>
    <div class="menu">
        <mat-icon>menu</mat-icon>
    </div>
    <div class="hiddenNav">
        <h2>Genesis</h2>
        <div class="hiddenTabs">
            <div class="home" routerLink="">Home</div>
            <div class="about">About</div>
            <div class="services">Services</div>
            <div class="pricing">Pricing</div>
            <div class="testimonials">Testimonials</div>
            <section class="signIn">
                <div routerLink="login" class="deep"><div >Sign In</div> <mat-icon>person_icon</mat-icon></div>                                                                
            </section>
        </div>
    </div>
</div>      