
<div class="contain">
    <p>Pricing plans</p>
    <h1>Hosting with Freedom Built-In</h1>
    <div class="containPlans">
        <div class="plans">
            <h1>Hatchling Plan</h1>
            <div class="small">A cost-effective plan that's reliable, fast, and secure — a great hosting option for 1 site.</div>
           
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/singlePage.png" alt="">
                </div>
                <div class="text">Single website </div>
            </div>
            <div class="promise">
                <div class="icon"> 
                    <img src="../../assets/img/free_ssl.png" alt="">
                </div>
                <div class="text">Free SSL certificate </div>
            </div>
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/darkPersonIcon.png" alt="">
                </div>
                <div class="text">Free Cpanel</div>
            </div>
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/storage.png" alt="">
                </div>
                <div class="text">25GB storage </div>
            </div>
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/db.png" alt="">
                </div>
                <div class="text">10 databases </div>
            </div>
            <button>Buy NOw</button>
    
        </div>
        <div class="plans">
            <h1>Hatchling Plan</h1>
            <div class="small">A cost-effective plan that's reliable, fast, and secure — a great hosting option for 1 site.</div>
           
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/singlePage.png" alt="">
                </div>
                <div class="text">Single website </div>
            </div>
            <div class="promise">
                <div class="icon"> 
                    <img src="../../assets/img/free_ssl.png" alt="">
                </div>
                <div class="text">Free SSL certificate </div>
            </div>
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/darkPersonIcon.png" alt="">
                </div>
                <div class="text">Free Cpanel</div>
            </div>
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/storage.png" alt="">
                </div>
                <div class="text">25GB storage </div>
            </div>
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/db.png" alt="">
                </div>
                <div class="text">10 databases </div>
            </div>
            <button>Buy NOw</button>
    
        </div>
        <div class="plans">
            <h1>Hatchling Plan</h1>
            <div class="small">A cost-effective plan that's reliable, fast, and secure — a great hosting option for 1 site.</div>
           
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/singlePage.png" alt="">
                </div>
                <div class="text">Single website </div>
            </div>
            <div class="promise">
                <div class="icon"> 
                    <img src="../../assets/img/free_ssl.png" alt="">
                </div>
                <div class="text">Free SSL certificate </div>
            </div>
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/darkPersonIcon.png" alt="">
                </div>
                <div class="text">Free Cpanel</div>
            </div>
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/storage.png" alt="">
                </div>
                <div class="text">25GB storage </div>
            </div>
            <div class="promise">
                <div class="icon">
                    <img src="../../assets/img/db.png" alt="">
                </div>
                <div class="text">10 databases </div>
            </div>
    
            <button>Buy NOw</button>
        </div>
    </div>
        
    </div>